body,html{
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
 height:100% ;
}
.container{
    background: linear-gradient(135deg,rgb(174, 45, 214),rgb(76, 76, 236));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.content{
    text-align: center;
    background-color: rgba(255, 255,255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    /* width: 90%;*/
}
.logo{
    width: 150px;
    object-fit: contain;
}
h1{
    color: #8c2d2d;
     margin-bottom: 20px ;
}
p{
    color: #596c0d;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="email"]{
 padding: 0.5rem;
 border-radius: 5px;
 border: 2px solid #f4c4c4;
 margin-bottom: 1rem;
}
button{
    padding: 0.5rem;
    background-color: aqua;
    border: none;
    border: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(81, 11, 202, 0.4);
    transition: background-color 0.3s
    ease-in-out;
}
button:hover{
    background-color: aquamarine;

}